.note_list {
  padding-left: 30px;
}

.note_item {
  padding: 15px 30px 15px 0px;
  border-bottom: 1px solid #bebebe;
}

.note_item__title {
  font-size: 18px;
  font-weight: 500;
}

.note_item__descr {
  display: flex;
  gap: 10px;
}
