.sidebar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #d4d4d4;
}

.sidebar__button_container {
  display: flex;
  gap: 10px;
}

.sidebar__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.sidebar__icon {
  fill: #838181;
  height: 15px;
  width: auto;
}
