.sidebar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #d4d4d4;
}

.sidebar__button_container {
  display: flex;
  gap: 10px;
}

.sidebar__button {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
